<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>질문 등록 폼</title>
</head>
<body>
    <h2>질문 등록</h2>
    <form action="" method="post">
        {% csrf_token %}
    <!-- {{ form.as_p }} 폼 형태를 쉽게 만들어주는 템플릿 태그-->
        <p>
            <label for="subject">제목 : </label>
            <input type="text" name="subject" id="subject">
        </p>
        <p>
            <label for="content">내용 : </label>
            <textarea name="content" id="content" rows="5" cols="40"></textarea>
        </p>
        <input type="submit" value="저장하기">
    </form>
</body>
</html>